<div>
    <md-card>
        <div class="container">
            <h2>Bordered Table</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Priamary Conatct</th>
                        <th>Priamry Email</th>
                        <th>Secondary Conatct</th>
                        <th>Secondary Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td></td>
                        <td></td>
                        <td>
                            <button type="button" class="btn btn-info" (click)="openDialog()">Info</button>
                            <button type="button" class="btn btn-danger">Danger</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>
</div>
